*{
    margin: 0;
    padding: 0;
}

body{
    font-family: arial,sans-serif;
    font-size: 17px;
}

#feed {
    position: relative; 
    width: 100%;
    height: 250px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: transparent;
}

#feed::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url('img/feed-grecia3.jpg'); 
    background-position: center;
    background-size: cover;
    opacity: 0.5;
    z-index: -1; 
}

#feed > div {
    position: relative; 
}

#feed,p{
    font-size: 1.2em;
    text-transform: uppercase;
    color: 	#044664;
}

img{
    width: 235px;
    height: auto;
}

nav, ul{
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    align-items: center;
    width: 100%;
    height: 40px;
    background-color: #044664;
}

li,a{
    color: white;
    text-decoration: none;
}

li,a:hover{
    color: rgb(176, 198, 245);
}

